*.zip
__pycache__
venv
.venv*
.idea
.env

# This is symlinked for convienence
cm3d2converter

docs/build
test/output
test/resources/datafiles
stubs
logs

# These files are used for testing, but cannot be redistributed 
test/resources/hotdog.blend
test/resources/dress379_wear.model
